<ion-header class="header-no-border">
  <ion-toolbar>
    <ion-title class="header-title">
      Vivencias electorales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botón de Registro -->
  <ion-button expand="block" size="large" color="primary" class="custom-button" (click)="goToRegistro()">
    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    Registro
  </ion-button>

  <!-- Botón de Lista -->
  <ion-button expand="block" size="large" color="primary" class="custom-button" (click)="goToLista()">
    <ion-icon name="list-outline" slot="start"></ion-icon>
    Lista
  </ion-button>
</ion-content>
